<div class="col-sm-9 p-2">
    <h5>Accounts</h5>

    <p class="alert alert-info p-3 fw-bold" *ngIf="!accounts && !errMsg">
        Please wait while loading data...
    </p>

    <p class="alert alert-danger p-3 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>
    
    <p class="alert alert-info p-3 fw-bold" *ngIf="accounts && accounts.length===0">
        No records to display
    </p>

    <table class="table table-border table-striped table-hover" *ngIf="accounts && accounts.length>0">
        <thead>
            <tr>
                <th>Account#</th>
                <th>Full Name</th>
                <th>Mobile</th>
                <th>Mail</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of accounts">
                <td class="text-end">{{a.ahId|number:'3.0-0'}}</td>
                <td>{{a.fullName|uppercase}}</td>
                <td>{{a.mobile}}</td>
                <td>{{a.mailId}}</td>
                <td class="text-end">{{a.currentBalance|currency:'INR'}}</td>
            </tr>
        </tbody>
    </table>
</div>
