<div class="row border-bottom p-1">
    <div class="col-sm-1 text-end">
        {{txn.txnId}}
    </div>
    <div class="col-sm-2 text-center">
        {{txn.txnDate|date:'dd-MMM-yyyy'}}
    </div>
    <div class="col">
        {{txn.desp}}
    </div>
    <div class="col-sm-2 text-end">
        <span *ngIf="txn.type==='CREDIT'">{{txn.amount|currency:'INR'}}</span>
    </div>
    <div class="col-sm-2 text-end">
        <span *ngIf="txn.type==='DEBIT'">{{txn.amount|currency:'INR'}}</span>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-sm btn-info me-1" (click)="raiseEditEvent()">EDIT</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="raiseDeleteEvent()">DELETE</button>
    </div>
</div>
