*{
    margin:10px;
    padding:10px;
}

body{
    background-color:#0000ff;
}

header{
    background-color:#440044;
    color:#cccccc;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}

a{
    display: inline-block;
    background-color:#440044;
    color:#cccccc;
    border-radius: 10px;
    padding:15px;
    margin:5px;
    text-decoration: none;
}
a:hover{
    background-color:#cccccc;
    color:#440044;
}

nav{
    margin-top: 0;
    margin-bottom: 0;
    background-color:#44cc44;
    color:#cccccc;
}

main{
    margin-top: 0;
    background-color: #fdfdfd;
    height: 300px;
}

#frm{
    width: 90%;
    height: 85%;
    border: 1.5px solid black;
}