body{
    background-color:#0000ff;
}

div{
    background-color: #dddddd;
    height:150px;
    margin:10px;
    background-image: url('../images/f1.jpg');
}

#d1{
    background-repeat: no-repeat;
}

#d2{
    background-repeat: no-repeat;
    background-position: 150px 50px;
}

#d4{
    overflow: scroll;
    padding:15px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}