<div class="col-sm-5 p-4 mx-auto">
    <h5>Login </h5>

    <p class="alert alert-danger p-2 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>

    <form (ngSubmit)="login()" #f="ngForm">
        <div>
            <label>User Name</label>
            <input type="text" name="unm" [(ngModel)]="userName" class="form-control" required />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="pwd" [(ngModel)]="password" class="form-control" required/>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary m-1" [disabled]="f.invalid">Sign In</button>
        </div>
    </form>
</div>
