<div class="col-sm-5 p-4 mx-auto">
    <h5>{{isNew?"New":"Edit"}} Account </h5>

    <p class="alert alert-danger p-2 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>

    <form (ngSubmit)="save()">
        <div>
            <label>Account#</label>
            <input type="number" name="ahId" [(ngModel)]="account.ahId" readonly class="form-control" />
        </div>
        <div>
            <label>Full Name</label>
            <input type="text" name="fnm" [(ngModel)]="account.fullName" class="form-control" />
        </div>
        <div>
            <label>Mobile</label>
            <input type="text" name="mob" [(ngModel)]="account.mobile" class="form-control" />
        </div>
        <div>
            <label>Mail</label>
            <input type="email" name="mid" [(ngModel)]="account.mailId" class="form-control" />
        </div>
        <div class="d-grid">
            <button class="btn btn-primary m-1">SAVE</button>
        </div>
    </form>
</div>
